<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
  <div class="auth-box bg-dark border-top border-secondary">
      <div id="loginform1">
          <div class="text-center py-4  p-t-20 p-b-20">
              <span class="db"><img src="assets/themes/images/logo1.png" alt="logo" /></span>
          </div>
          <div class="text-center py-4">
            <span class="text-white py-3">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
        </div>
        <div class="row m-t-20">
            <!-- Form -->
            <form class="col-12" action="index.html">
                <!-- email -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <!-- pwd -->
                <div class="row m-t-20 p-t-20 border-top border-secondary mt-2">
                    <div class="col-12 mt-2">
                        <a class="btn btn-success" [routerLink]="['/app/auth/login']" routerLinkActive="router-link-active"  id="to-login" name="action">Back To Login</a>
                        <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                    </div>
                </div>
            </form>
        </div>
      </div>

  </div>
</div>
